<div class="swiper-container banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="Content/images/banner_02.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="Content/images/banner_02.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="Content/images/banner_02.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="Content/images/banner_02.png" alt="">
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<dl class="dl-nav col-xs-3">
<dt>
    <i class="icon ion-chatbox"></i>
</dt>
    <dd>车商城</dd>
</dl>
<dl class="dl-nav col-xs-3">
<dt class="dt-se">
    <i class="icon ion-ios-chatbubble"></i>
</dt>
    <dd>车商城</dd>
</dl>
<dl class="dl-nav col-xs-3">
<dt class="dt-th">
    <i class="icon ion-ios-musical-note"></i>
</dt>
    <dd>车商城</dd>
</dl>
<dl class="dl-nav col-xs-3">
<dt class="dt-fou">
    <i class="icon ion-ios-flower"></i>
</dt>
    <dd>车商城</dd>
</dl>
<div class="logo">
    <img src="Content/images/logo_04.png" alt="">
</div>
<div class="carUser">
    <h2>车主服务</h2>
    <ul class="oil">
        <li>
            <dl>
                <dt><i class="fa fa-id-card"></i></dt>
                <dd>油卡充值</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-product-hunt"></i></dt>
                <dd>低价保养</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-ban"></i></dt>
                <dd>4S店保养</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-calculator"></i></dt>
                <dd>品质轮胎</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt><i class="fa fa-train"></i></dt>
                <dd>车品商城</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-cloud"></i></dt>
                <dd>洗车</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-bandcamp"></i></dt>
                <dd>违章代缴</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-free-code-camp"></i></dt>
                <dd>免费测评</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt><i class="fa fa-delicious"></i></dt>
                <dd>查周边</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-book"></i></dt>
                <dd>车主卡</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-ticket"></i></dt>
                <dd>领券保养</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-list"></i></dt>
                <dd>全部</dd>
            </dl>
        </li>
    </ul>
</div>

<car></car>